cert/**/*.srl
cert/**/*.key
cert/**/*.crt
cert/**/*.csr
web/build/.module-cache/
tmp.txt
.*.swp
._*
.DS_Store
.git
.hg
.lock-wscript
.svn
.wafpickle-*
CVS
npm-debug.log
logs
*.log
pids
*.pid
*.seed
lib-cov
coverage
.grunt
build/Release
node_modules
.lock-wscript