cert/**/*.srl
cert/**/*.key
cert/**/*.crt
cert/**/*.csr
web/build/.module-cache/
test/report/*.txt
tmp.txt
.*.swp
._*
.DS_Store
.vscode
.git
.hg
.lock-wscript
.svn
.wafpickle-*
.vscode
CVS
npm-debug.log
logs
*.log
pids
*.pid
*.seed
lib-cov
coverage
.grunt
build/Release
node_modules
.lock-wscript
temp
dist
test/report
*.tgz
doc_compiled.md
docs-md/cn/doc.md
docs-md/en/doc.md