@import '../style/constant.less';

@menu-height: 70px;

.topWrapper {
    width: 100%;
    height: @menu-height;
}

.fixedWrapper {
    position: fixed;
    z-index: 900;
    background-color: #fff;
    top: 0;
    height: @menu-height;
    left: 0;
    right: 0;
    border: 1px solid @hint-color;
    opacity: 0.98;
}
.topLogoDiv {
  padding-left: 30px;
  float: left;
}

.logo {
  position: absolute;
  left: -25px;
  top: 0px;
}

.brand {
  font-size: 30px;
  font-weight: 400;
  color: @default-color;
  opacity: 0.87;
  margin-top: 5px;
}

.menuList {
  overflow: hidden;
  padding-left: 50px;
  line-height: 25px;
}

.menuItem {
  color: @default-color;
  font-size: @font-size-sm;
  margin-right: 20px;
  float: left;
  cursor: pointer;
  padding: 0 5px;
  opacity: 0.87;
  i {
    padding-right: 3px;
  }

  &:hover {
    color: @primary-color;
  }

  &.disabled {
    color: @tip-color;
  }

  &.active {
    color: @primary-color
  }
}

.ruleTip {
  color: @tip-color;
  line-height: 26px;
  i {
    padding-right: 5px;
  }
}


