@import '../style/constant.less';

.topWrapper {
    width: 100%;
    border-bottom: 1px solid @hint-color;
    padding-bottom: 15px;
}

.menuList {
  overflow: hidden;
  margin-top: 10px;
}

.menuItem {
  color: @default-color;
  font-size: @font-size-xs;
  float: left;
  cursor: pointer;
  padding: 0 5px;
  opacity: 0.87;
  min-width: 60px;
  padding: 0 35px;
  text-align: center;
  i {
    display: block;
    font-size: @menu-icon-font-size;
  }

  span {
    display: block;
    line-height: 25px;
    color: @top-menu-span-color;
  }

  &:hover {
    color: @primary-color;
    span {
      color: @primary-color;
    }
  }

  &.disabled {
    color: @tip-color;
  }

  &.active {
    color: @primary-color;
    span {
      color: @primary-color;
    }
  }

  &.rightMenuItem {
    float: right;
    padding-right: 0;
    margin-right: 35px;
  }
}

.menuItemSpliter {
  display: block;
  float: left;
  width: 1px;
  background-color: @top-menu-spliter-color;
  height: 30px;
  margin-right: 0 20px;
}

.ruleTip {
  color: @tip-color;
  line-height: 26px;
  i {
    padding-right: 5px;
  }
}

.modalInfo {
   li {
    font-size: @font-size-reg;
    overflow: hidden;
    strong {
      font-weight: normal;
      float: left;
    }

    span {
      display: block;
      overflow: hidden;
      padding-left: 10px;
      color: @tip-color;
    }
  }

  :global {
    .ant-modal-title {
      color: @default-color;
      font-weight: 400;
    }
    .ant-btn {
      font-weight: normal;
    }
  }
}

.runningInfoDivWrapper {
  line-height: 1.5;
  li {
    overflow: hidden;
    strong {
      float: left;
    }

    span {
      overflow: hidden;
      padding-left: 5px;
      display: block;
    }
  }
  :global {
    .ant-btn {
      margin-top: 10px;
    }

    .ant-popover {
      font-size: @font-size-reg;
    }

    .ant-popover-title {
      color: @default-color;
      font-weight: bold;
      padding-left: 20px;
    }

    .ant-popover-inner-content {
      padding-bottom: 25px;
      padding-left: 20px;
    }
  }
}
