@import '../style/constant.less';

.wrapper {
  padding: 5px 15px;
  word-wrap: break-word;
}

.detailWrapper {
  padding: 5px;
}

.section {
  padding: 10px 0;
  font-size: 13px;
}

.okStatus {
  color: @success-color;
}

.reqBody, .resBody {
  min-width: 200px;
}

.imageBody {
  max-width: 100%;
  max-height: 400px;
}

.liItem {
  strong {
    float: left;
    min-width: 125px;
    text-align: right;
  }
  span {
    display: block;
    overflow: hidden;
    opacity: 0.87;
    padding-left: 15px;
  }
}

.cookieWrapper {
  padding-top: 15px;
}

.odd {
  background-color: @light-background-color;
}
