@import './style/constant.less';

.indexWrapper {
  display: block;
  position: relative;
  height: 100%;
}

.leftPanel {
  width: 158px;
  height: 100%;
  min-height: 300px;
  float: left;
}

.middlePanel {
  float: left;
  height: 100%;
}

.rightPanel {
  overflow: hidden;
}