/*custom iconfont*/
@font-face {font-family: 'iconfont';
    src: url('iconfont.eot'); /* IE9*/
    src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('iconfont.woff') format('woff'), /* chrome、firefox */
    url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('iconfont.svg#uxiconfont') format('svg'); /* iOS 4.1- */
}

body{
	min-width: 1090px;
}

.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}


.topHead{
	height: 55px;
	position: relative;
/*	-webkit-box-shadow: 0px 3px 23px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 3px 23px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 3px 23px 0px rgba(50, 50, 50, 0.75);
*/}

.topHead .logoWrapper{
	float: left;
	width: 220px;
	height: 55px;
	overflow: hidden;
	position: relative;
}

.topHead .logoWrapper h1{
	color: #333;
	line-height: 55px;
	text-align: center;
	margin: 0;
}

.topHead .logoWrapper .logo_bottom {
	position: absolute;
	left:  -25px;
	bottom: 0px;
}

.anim_rotation{
    -webkit-animation: rotation 1.2s infinite cubic-bezier(.63,.33,.46,.71);
}

@-webkit-keyframes rotation {
    0% {
    	-webkit-transform: rotate(0deg);
    	opacity: 0.1;
    }

    20% {
    	opacity: 0.1;
    }

    40% {
    	opacity: 0.25;
    }

    80% {
    	opacity: 0.1;
    }

    100% {
    	-webkit-transform: rotate(359deg);
    	opacity: 0.1;
    }
}

.topHead .ctrlWrapper{
	height: 35px;
	line-height: 35px;
}

.topHead .topBtn{
	margin-right: 8px;
	transition:0.1s;
	padding: 4px;
	border-radius: 2px;
}

.topHead .topBtn:hover{
	background: #07D;
	transition:0.1s;
	color: #FFF;
}

.topHead a:hover{
	text-decoration: none;
}

.topHead i{
	margin-right: 3px;
}

.topHead .btn_disable{
	color: #777;
}

.topHead .ruleDesc{
	height: 20px;
	border-bottom: 1px solid #333;
}

.topHead .ruleDesc span{
	padding-left: 3px;
}

.topHead .ctrlWrapper .sep{
	display: inline-block;
	margin: 0 8px;
	color: #777;
}

.mainTableWrapper{
	margin-top: 0;
}

.mainTableWrapper table{
	table-layout: fixed;
}

.mainTableWrapper thead{
	background: #DDD;
	border-bottom: 1px solid #777;
}

.mainTableWrapper td,
.mainTableWrapper th{
	padding: 4px 12px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.mainTableWrapper tbody tr{
	color: #AAA;
}

.mainTableWrapper tbody tr.record_status_done{
	color: #000;
}

.mainTableWrapper .col_id{
	width: 25px;
	padding-right: 20px;
}

.mainTableWrapper .col_code{
	width: 40px;
}

.mainTableWrapper .col_method{
	width: 70px;
}

.mainTableWrapper .col_host{
	width: 180px;
}

.mainTableWrapper .col_mime{
	width: 150px;
}

.mainTableWrapper .col_time{
	width: 140px;
}

.mainTableWrapper tr.row_odd{
	background: #f5f5f5;
}

.mainTableWrapper tr.row_even{
	background: #FFFFFF;
}

.uk-table-hover tbody tr:hover{
	cursor: pointer;
	background: #CCC;
}

.resBody .resBodyContent{
	min-width: 200px;
	padding: 10px;
	border: 1px solid #99baca;
	background: #f5fbfe;
	word-wrap:break-word;
}

.subTitle{
	padding-left: 6px;
	border-left: 3px solid #1FA2D6;
	font-size: 16px;
	line-height: 16px;
}

.detail{
	padding-left: 12px;
}

.overlay_mask{
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #EEE;
	opacity: 0.85;
}

.recordDetailOverlay{
	z-index: 1;
	height: 100%;
	position: fixed;
	left: 35%;
	right: 0;
	background: #FFF;
	border-left: 1px solid #CCC;
	top: 0;
	padding: 10px 10px 20px 10px;
	overflow-y:scroll;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.recordDetailOverlay .escBtn{
	position: absolute;
	right: 10px;
	top: 8px;
	color: #777;
	cursor: pointer;
	text-decoration: underline;
}

.recordDetailOverlay li{
	white-space: nowrap;
	word-wrap: break-word;
}

.data_id{
	color: #777;
}

.http_status{
	/*font-weight: 700;*/
}

.http_status_200{
	color: #408E2F;
}

.http_status_404,
.http_status_500,
.http_status_501,
.http_status_502,
.http_status_503,
.http_status_504
{
	color: #910A0A;
}


.protocol{
	display: none;
}

.protocol.protocol_https{
	display: inline;
	font-size: 14px;
	color: #777;
}

#dragbar{
	position:absolute;
	left:0px;
	top:0px;
	height: 100%;
	float: left;
	background-color:#CCC;
	width: 3px;
	cursor: col-resize;
}
#ghostbar{
    width:3px;
    background-color:#000;
    opacity:0.5;
    position:absolute;
    cursor: col-resize;
    z-index:999
}