body{
	min-width: 1090px;
}

body, html {
  height: 100%;
}

.topHead{
	height: 53px;
	position: relative;
	border-bottom: 1px solid #333;
}

.topHead .logoWrapper{
	float: left;
	width: 220px;
	height: 53px;
	overflow: hidden;
	position: relative;
}

.topHead .logoWrapper h1{
	color: #333;
	line-height: 53px;
	text-align: center;
	margin: 0;
}

.topHead .logoWrapper .logo_bottom {
	position: absolute;
	left:  -25px;
	bottom: 0px;
}

.anim_rotation{
    -webkit-animation: rotation 1.2s infinite cubic-bezier(.63,.33,.46,.71);
}

@-webkit-keyframes rotation {
    0% {
    	-webkit-transform: rotate(0deg);
    	opacity: 0.1;
    }

    20% {
    	opacity: 0.1;
    }

    40% {
    	opacity: 0.25;
    }

    80% {
    	opacity: 0.1;
    }

    100% {
    	-webkit-transform: rotate(359deg);
    	opacity: 0.1;
    }
}

.topHead .ctrlWrapper{
	height        : 26px;
	line-height   : 16px;
	overflow      : hidden;
	text-overflow : ellipsis;
	white-space   : nowrap;
	margin-top    : 1px;
}

.topHead .ctrlWrapper .sep{
	display: inline-block;
	margin: 0 8px;
	color: #777;
}

.topHead .topBtn{
	margin-right: 4px;
	transition:0.08s;
	padding: 4px;
	border-radius: 2px;
	min-width: 50px;
	display: inline-block;
}

.topHead .topBtn.topBtnInUse{
	color: #30B630;
}

.topHead .topBtn:hover:not(.btn_disable){
	background: #07D;
	transition:0.08s;
	color: #FFF;
}

.topHead a:hover{
	text-decoration: none;
}

.topHead i{
	margin-right: 3px;
	width: 12px;
}

.topHead .btn_disable{
	color: #777;
}


.mainTableWrapper{
	margin-top: 0;
}

.mainTableWrapper table{
	table-layout: fixed;
}

.mainTableWrapper thead{
	background: #F4F5F9;
	border-bottom: 1px solid #AAA;
}

.mainTableWrapper td,
.mainTableWrapper th{
	padding: 4px 12px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 12px;
	line-height: 16px;
}

.mainTableWrapper tbody tr{
	color: #AAA;
}

.mainTableWrapper tbody tr.record_status_done{
	color: #000;
}

.mainTableWrapper .col_id{
	width: 25px;
	padding-right: 20px;
}

.mainTableWrapper .col_code{
	width: 40px;
}

.mainTableWrapper .col_method{
	width: 70px;
}

.mainTableWrapper .col_host{
	width: 180px;
}

.mainTableWrapper .col_mime{
	width: 150px;
}

.mainTableWrapper .col_time{
	width: 140px;
}

.mainTableWrapper tr.row_odd{
	background: #f5f5f5;
}

.mainTableWrapper tr.row_even{
	background: #FFFFFF;
}

.uk-table-hover tbody tr:hover{
	cursor: pointer;
	background: #CCC;
}

.resBody .resBodyContent{
	min-width: 200px;
	padding: 10px;
	border: 1px solid #99baca;
	background: #f5fbfe;
	word-wrap:break-word;
}

.resBody .resBodyContent img{
	max-width: 500px;
	max-height: 500px;
}

.subTitle{
	padding-left: 6px;
	border-left: 3px solid #1FA2D6;
	font-size: 16px;
	line-height: 16px;
}

.detail{
	padding-left: 12px;
}

.overlay_mask{
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #EEE;
	opacity: 0.5;
}

.recordDetailOverlay{
	z-index: 1;
	height: 100%;
	position: fixed;
	right: 0;
	background: #FFF;
	border-left: 1px solid #CCC;
	top: 0;
	padding: 10px 20px 10px 10px;
	overflow-y:auto;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.recordDetailOverlay .escBtn{
	position: absolute;
	right: 8px;
	top: 8px;
	color: #777;
	cursor: pointer;
	font-size: 16px;
}

.recordDetailOverlay li{
	word-wrap: break-word;
}

.recordDetailOverlay iframe{
	position: relative;
	height: 92vh;
	width: 100%;
}

.data_id{
	color: #777;
}

.http_status{
	/*font-weight: 700;*/
}

.http_status_200{
	color: #408E2F;
}

.http_status_404,
.http_status_500,
.http_status_501,
.http_status_502,
.http_status_503,
.http_status_504
{
	color: #910A0A;
}

.icon_record{
	display: inline;
	font-size: 14px;
	color: #777;
}

.dragbar{
	position:absolute;
	left:-5px;
	top:0px;
	height: 100%;
	width: 10px;
	cursor: col-resize;
}

.ghostbar{
    position:fixed;
    width:3px;
    height: 100vh;
    background-color:#000;
    opacity:0.5;
    cursor: col-resize;
    z-index:999
}

/*filter*/

.filterSection{
	margin: 50px auto 0;
}

.filterSection .uk-form{
	text-align: center;
}

.filterSection input{
	width: 250px;
}

/*filter end*/


/*map panel*/

.jstree-icon.folder{
	background: url(http://img.alicdn.com/bao/uploaded/TB1TqJjIpXXXXcYXFXXSutbFXXX.jpg_q90.jpg) no-repeat !important;
	background-size: 100% 100%;
}

.mapWrapper .form{
	margin-top: 20px;
}

.mapWrapper .mapRuleList ul{
	list-style: none;
	padding-left: 10px;
}

.mapWrapper .mapRuleList li{
	margin: 10px 0;
}

.mapWrapper .removeBtn{
	display: inline-block;
	margin-left: 5px;
}

.mapWrapper .mapConfigInputs{
	width: 400px;
}

.mapWrapper .mapConfigInputs.pathInput{
	border-radius: 4px 4px 0 0 ;
}

.mapWrapper .treeWrapper{
	width: 398px;
	height: 350px;
	overflow: scroll;
	border: 1px solid #ddd;
	border-top: none;
}

.mapWrapper .mapAddNewForm{
	margin-left: 10px;
}



/*map panel end*/
